<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rajesh.mathops">

    <application>
        <activity android:name=".SubtractionActivity"></activity>
        <activity android:name=".AdditionActivity" />
    </application>

</manifest>